.footer {

  background-color: #090909;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  width: 95vw;
  justify-content: space-between;
  margin-left: 10px;
 
  bottom: 0;
}


.footer-a{
  color: white;
  text-decoration: none !important;
}
.connects-a{
  margin-left: 5px;
  padding: 10px;
}
