/* Home.css */

.container {
    margin: 20px;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .cardDiv-img {
    max-width: 100%;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 10px;
  }
  
  .card-keywords {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-details {
    font-size: 14px;
    color: #444;
  }
  
  .pagination {
    margin-top: 20px;
  }
/* Button.css */

  .leftButton{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    left: 30px;
  }
  .rightButton{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    right: 30px;
    
  }
  
  .Button:hover {
    background-color: #0056b3;
  }
  .thumbnail-container{
    background-color: black;
    margin-top: 50px;
    margin-left: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
    
    
  }
  
  .thumbnail{
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }
  .homeDiv{
     margin-right: "0"; height: "330px"; width: "230px" ;
  }
  .homeDiv img:hover{
    filter: blur(5px);
  }
  .slider{
    width: 300px;
    height: 100%;
    z-index: 5;
    top: 0;
    background-color: rgb(13,14,16);
    position: fixed;
    right: 0;
  padding-top: 10px;
  }
  .slider div{
    display: flex;
    flex-direction: row;
  }
  .sliderH5{
    color: white;
    margin-left: 20px;
  }
  .slider img{
    height: 70px;
    width: 70px;
    margin-left: 20px;
  }
  
.slider h1{
  font-size: 20px;
  padding-top: 10px;
  
  margin-left: 20px;
  color: white;
  padding-bottom: 10px;
  padding-left: 5px;
}
.slider h1:hover{
  background-color: #ccc;
  cursor: pointer;
}
  