.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this as needed for your layout */
    text-align: center;
    background-color: black;
  }
  
  .form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust the width as needed */
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #D9008D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .loginSignupHover{
    text-decoration: solid underline;
    color: blue;
  }
  .loginSignupHover:hover{
    cursor: pointer;
  }

  