.subClassName{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 32px;
    background-image: url(https://prod-voot-images.s3.ap-south-1.amazonaws.com/v3Storage/subscription/tieredPlans/banner/web/all/2/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}