/* Add your CSS styles here */
.video-player-container {
    text-align: center;
    margin: 20px;
    margin-top: 100px;
  
  }
  
  .video-h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .video-video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  .playerWatch{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap: 10px;
    right: 20px;
    bottom: 0;
    background-color: white;
  }
  .playerWatch-span{
    font-size: 50px;
   
    align-self: center;
    background-color: white;
  }
  .playerWatch-span:hover{
    background-color: aliceblue;
    cursor: pointer;
    padding-top: 0;
  }