.card{
    display: flex;
 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    column-gap: 20px;
    row-gap: 100px;
}
.webseries{
    margin-top: 100px;
    color: white;
}
.webseries-h2{
    text-align: center;
    text-decoration: none;
    
}
.cardDiv{
    height: 300px;
    width: 200px;
    position: relative;
    text-align: center;
    align-items: center;
    
}
.cardDiv-img{
    filter: blur(1px);
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
.cardDiv-img:hover{
    filter: blur(5px);
}
.card-title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    font-size: 14px; 
    overflow: hidden;
  
}